body{
    background-color: white;
}
header{
    padding-left: 300px;
    padding-top: 57px;
   margin-bottom: 57px;
   
}
 header a{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 17px;
    color: #5863E3;
    margin-bottom: 7px;
}
header h1{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 45px;
    color: #000000;
    width: 371px;
    
}
.sec1{
 margin: 0 450px 70px 300px;
}
form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
}
textarea{
    width: 756px;
    height: 316px;
    background-color: white;
    border: 2px solid #D4D3D34D;
    padding: 25px 0 0 25px;
    
}
textarea::placeholder{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 15px;
    color: #99999A;
}
.signin{
   padding: 0;
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 316px;
   
}
.signin input[type="text"]{
    height:60px;
    margin-bottom: 20px;
    border: 2px solid #D4D3D34D;
   
    
}
.signin input[type="submit"]{
    height: 60px;
    background-color: #5968F4;
    border: hidden;
    color: white;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 14px;
     margin-top: auto;
}


