body{
    background-color: white;
    margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header{
    padding-left: 300px;
    padding-top: 57px;
   margin-bottom: 57px;
   
}
 header a{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 17px;
    color: #5863E3;
    margin-bottom: 7px;
}
header h1{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 45px;
    color: #000000;
    width: 371px;
    
}
.sec1{
 margin: 0 450px 70px 300px;
}
form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
}
textarea{
    width: 756px;
    height: 316px;
    background-color: white;
    border: 2px solid #D4D3D34D;
    padding: 25px 0 0 25px;
    
}
textarea::placeholder{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 15px;
    color: #99999A;
}
.signin{
   padding: 0;
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 316px;
   
}
.signin input[type="text"], .signin input[type="email"]{
    height:60px;
    margin-bottom: 20px;
    border: 2px solid #D4D3D34D;
   padding:22px 0 22px 19px;
    
}
.signin input[type="text"] , .signin input[type="email"]::placeholder{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 15px;
    color: #99999A;
    
}
.signin input[type="submit"]{
    height: 60px;
    background-color: #5968F4;
    border: hidden;
    color: white;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 14px;
     margin-top: auto;
     cursor: pointer;
}
.sec2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 80px;
}
.sec2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background-color: #5968F4;
}
.sec2 h3{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 20px;
    color:#4E4D54;
   
}
.sec2 p{
   font-family: Helvetica;
   font-weight: 700;
   font-size: 15px;
   color: #99999A;

}
.sec3{
    display: flex;
    flex-flow: column;
    margin-bottom: 39px;
}
.sec3 a{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 17px;
    color: #5863E3;

}
.sec3 h1{
    color:#000000;
    font-weight: 400;
    font-family: Helvetica;
    font-size: 49px;
    width: 563px;
    margin-bottom: 55px;
}
.sec3 div {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   gap: 100px;

}
footer{
    background-color: black;
    width: 1920px;
    height: 372px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
    
}
.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.socialmedia h3{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 26px;
    color: white;
}
.socialmedia p{
    font-family: Helvetica;
     font-weight: 700;
    font-size: 17px;
    color: #99999A;
    width: 295px;
}
.icons{
    display: flex;
   flex-flow: row nowrap;
   gap: 10px;
}
.icons img{
    width: 46px;
}



